.intro {
  text-align: center;
  padding-bottom: 1em;
}

.container.fadeup {
  background: linear-gradient(var(--fadeup-color), var(--primary-color) 8%);
}

.container.faup {
  background: linear-gradient(var(--faup-color), var(--primary-color) 8%);
}

.container.fbaup {
  background: linear-gradient(var(--fbaup-color), var(--primary-color) 8%);
}

.container.fcnaup {
  background: linear-gradient(var(--fcnaup-color), var(--primary-color) 8%);
}

.container.fcup {
  background: linear-gradient(var(--fcup-color), var(--primary-color) 8%);
}

.container.fdup {
  background: linear-gradient(var(--fdup-color), var(--primary-color) 8%);
}

.container.fep {
  background: linear-gradient(var(--fep-color), var(--primary-color) 8%);
}

.container.feup {
  background: linear-gradient(var(--feup-color), var(--primary-color) 8%);
}

.container.ffup {
  background: linear-gradient(var(--ffup-color), var(--primary-color) 8%);
}

.container.flup {
  background: linear-gradient(var(--flup-color), var(--primary-color) 8%);
}

.container.fmdup {
  background: linear-gradient(var(--fmdup-color), var(--primary-color) 8%);
}

.container.fmup {
  background: linear-gradient(var(--fmup-color), var(--primary-color) 8%);
}

.container.fpceup {
  background: linear-gradient(var(--fpceup-color), var(--primary-color) 8%);
}

.container.icbas {
  background: linear-gradient(var(--icbas-color), var(--primary-color) 8%);
}
